
a, 
a:hover, 
a:visited {
    outline:none;
}
a {
    color:#008ce5;
    text-decoration:none;
  
}
a:hover {
    text-decoration:underline;
}

.titlebar {
    color:#000;
    text-decoration: none;
}

.titlebar:hover {
    text-decoration: none;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
    width:900px;
    margin: 14px auto;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #000;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width:100%;    
}

.homepagetable { 
  max-width: 320px;
  width: 320px;
  padding: 6px; 
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

img {
max-width:180px;
max-height:200px;
width:auto;
height:auto;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.navbar-brand{
    font: 25px bold;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-right{
    padding-top:6px;
    padding-bottom: 5px;
}

.navbar{
    background-color: #679B1C;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.search{
    padding-top:8px;
    padding-bottom: 5px;
    width: 700px;
    padding-right: 200px;
}

.box-slider{
    padding-top:75px;
}

footer{
    background-color:#679B1C;
    width:100%;
    min-height: 30px;
    right: 0;
    left:0;
}

@media(max-width:768px) {
     .input-group .form-control{
     width: 200px;   
    
    }

    .btn{
        visibility: hidden;
    }
}