a, 
a:hover, 
a:visited {
    outline:none;
}
a {
    color:#008ce5;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

body {
    width:950px;
    margin: 40px auto;
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #000;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width:100%;    
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;
    font-size: 12px;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}




/*----------------------*/

.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

input {
	margin-top:5px;
	padding:10px 30px;
	border-radius:3px;
	-moz-border-radius:3px;
	border:none;
	font-size:14px;
	font-weight:400;
	width:auto;
	cursor:pointer;
	float:bottom;
	background-color:#008ce5;
	color:#ffffff;
	display:block;
	box-shadow: 0 5px 0 #004979;
	-moz-box-shadow: 0 5px 0 #004979;
	-webkit-box-shadow: 0 5px 0 #004979;
}
	
input:hover {
	background-color:#004979;
	box-shadow: 0 5px 0 #008ce5;
	-moz-box-shadow: 0 5px 0 #008ce5;
	-webkit-box-shadow: 0 5px 0 #008ce5;
}

.biginput {
	width: 600px;
  	height: 40px;
  	padding: 0 10px 0 10px;
  	background-color: #fff;
  	border: 1px solid #c8c8c8;
  	border-radius: 3px;
  	color: #000;
  	font-weight:normal;
  	font-size: 1.5em;
 	-webkit-transition: all 0.2s linear;
  	-moz-transition: all 0.2s linear;
  	transition: all 0.2s linear;
}

.biginput:focus {
  color: #858585;
}

.smallinput {
	width: 300px;
  	height: 40px;
  	padding: 0 10px 0 10px;
  	background-color: #fff;
  	border: 1px solid #c8c8c8;
  	border-radius: 3px;
  	color: #aeaeae;
  	font-weight:normal;
  	font-size: 1.5em;
 	-webkit-transition: all 0.2s linear;
  	-moz-transition: all 0.2s linear;
  	transition: all 0.2s linear;
}

.smallinput:focus {
  color: #858585;
}

.searchinput {
	width: 600px;
  	height: 40px;
  	padding: 0 10px 0 10px;
  	background-color: #fff;
  	border: 1px solid #c8c8c8;
  	border-radius: 3px;
  	color: #aeaeae;
  	font-weight:normal;
  	font-size: 1.5em;
 	-webkit-transition: all 0.2s linear;
  	-moz-transition: all 0.2s linear;
  	transition: all 0.2s linear;
}

.searchinput:focus {
  color: #858585;
}